<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__info">
      <h3 class="footer__title">КЛИЧЕВСКОЕ УНИТАРНОЕ КОММУНАЛЬНОЕ ПРЕДПРИЯТИЕ «ЖИЛКОМХОЗ»</h3>
      <ul class="footer__contacts-list">
        <li class="footer__contact-item">
          <img src="/images/icons/Envelope.svg" alt="" class="footer__icon" width="20" height="20">
          <a href="mailto:info@klichevjkh.by">info@klichevjkh.by</a>
        </li>
        <li class="footer__contact-item">
          <img src="/images/icons/Telephone.svg" alt="" class="footer__icon" width="20" height="20">
          <a href="tel:80223672008">8 (02236) 72-008</a>
        </li>
        <li class="footer__contact-item">
          <img src="/images/icons/GeoAlt.svg" alt="" class="footer__icon" width="20" height="20">
          <span>213910, Могилевская обл., г. Кличев, ул. Ленинская, д.51</span>
        </li>
      </ul>
    </div>
  </div>
</footer>
