:root {
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-dark-blue: #084CAF;
    --color-light-blue: #2464BC;
    --color-blue: #D3E9FA;
    --color-gray: #F5F5F5;
    --color-dark-gray: #D9D9D9;
    --color-accent: #0265EE;

    --border-color: #A5A5A5;
    --border-radius-menu-button: 10px;
    --border-radius-button: 30px;
    --border-radius-block: 15px;
    --border-radius-banner: 20px;

    --font-family-base: 'Instrument Sans', sans-serif;
    --font-family-accent: 'Inter', sans-serif;
    
    --container-width: 1240px;
    --container-padding-x: 20px;

    --section-padding-y: 11.5px;

    --button-height-menu-button: 70px;
    --button-height-button: 55px;

    --transition-duration: 0.2s;
}